{% extends "base.html" %}

{% block title %}
Hello World
{% endblock title %}

{% block head %}
    <style type="text/css">
        body {
            background: url("{{ url_for('static', filename='background.jpg') }}") no-repeat;
            background-size: cover;
        }
        .container {
            width: 100%;
            height: 100%;
        }
        .wrapper {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            overflow: auto;
        }
        .sub_wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
            min-width: 320px;
            min-height: 100%;
            padding: 80px 0;
            background-color: initial;
            position: relative;
        }
        .info {
            display: block;
            align-self: center;
            width: 480px;
            height: 260px;
            background: rgba(0, 0, 0, 0.4);
            border: 1px solid #ced4da;
            border-radius: .5rem;
        }
        .info:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        .info form {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10%;
            margin-top: 10%;
            width: 80%;
            height: 50%;
            filter: alpha(opacity=60);
            -moz-opacity: 0.6;
            opacity: 0.6;
        }
    </style>
{% endblock head %}


{% block body %}
    <div class="container" style="visibility: hidden;">
        <div class="wrapper">
            <div class="sub_wrapper">
                <div class="info">
                    <form action="/submit" method="post" role="form">
                        <div class="input-group input-group-md">
                            <input type="password" class="form-control" id="secret" name="secret" placeholder="SECRET" style="background-color: transparent;"/>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-warning btn-block">SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block script %}
    <script>
        $(function() {
            $url = "{{ url_for('static', filename='background.jpg') }}";
            $img = $("<img />");
            $img.attr("src", $url);
            $img.bind("load", function() {
                $(".container").removeAttr("style");
            });
        });
    </script>
{% endblock script %}
